{% extends 'usuarios/base.html' %}
{% load static %}


{% block content %}

<!--  Imagem centralizada -->
    <img src="{% static 'img/favicon.png' %}" alt="Galerize"
         style="display: block; margin: 30px auto; max-width: 50%; height: auto;" />
<div style="color: #ffffff; text-align: center; margin-top: 50px;">
    <h2>Sobre o Galerize</h2>
    <p>O Galerize é uma plataforma onde usuários podem guardar suas fotos pessoais, uma galeria digital.</p>
    <p>Avaliação Regular do Semestre 2025-1 - Desenvolvimento Web II.</p>


</div>
{% endblock %}
